/*--------------------- Layout and Typography ----------------------------*/
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-variant-ligatures: none;
          font-variant-ligatures: none;
}

body {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  color: #3a3a3a;
  background: #fcfefa;
}

#content {
  font-size: 1.8em;
}

a {
  color: #FE5210;
  text-decoration: none;
}

a:visited {
  color: #FE7110;
}

a:hover,
a:focus {
  color: #FFA158;
}

strong {
  font-weight: 700;
}

code a:hover {
  background: none;
}

#changelog #gtoc {
  display: none;
}

#gtoc {
  font-size: 0.8em;
}

#gtoc p {
}

#gtoc a {
}

#gtoc a:hover {
}

.api_stability_0,
.api_stability_1,
.api_stability_2,
.api_stability_3,
.api_stability_4,
.api_stability_5 {
  color: white !important;
  margin: 0em 0 1.0em 0;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  font-weight: 700;
}

.api_stability_0 *,
.api_stability_1 *,
.api_stability_2 *,
.api_stability_3 *,
.api_stability_4 *,
.api_stability_5 * {
  color: white !important;
}

.api_stability_0 a,
.api_stability_1 a,
.api_stability_2 a,
.api_stability_3 a,
.api_stability_4 a,
.api_stability_5 a {
  text-decoration: underline;
}

.api_stability_0 {
  background-color: #D60027;
}

.api_stability_1 {
  background-color: #EC5315;
}

.api_stability_2 {
  background-color: #4EBA0F;
}

.api_stability_3 {
  background-color: #0084B6;
}

ul.plain {
  list-style: none;
}

abbr {
  border-bottom: 1px dotted #454545;
}

p {
  position: relative;
  text-rendering: optimizeLegibility;
  margin: 0 0 1em 0;
  line-height: 1.5em;
}

#apicontent > *:last-child {
  margin-bottom: 0;
  padding-bottom: 2.0em;
}

table {
  border-collapse: collapse;
  margin: 0 0 1.5em 0;
}

th, td {
  border: 1px solid #aaa;
}

table p {
}

th {
  text-align:left;
}

ol, ul, dl {
  margin: 0 0 0.6em 0;
  padding: 0;
}

ol ul, ol ol, ol dl,
ul ul, ul ol, ul dl,
dl ul, dl ol, dl dl {
  margin-bottom: 0;
}

ul, ol {
  margin-left: 2em;
}

dl dt {
  position: relative;
  margin: 1.5em 0 0;
}

dl dd {
  position: relative;
  margin: 0 1em 0;
}

dd + dt.pre {
  margin-top: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  color: #301004;
  text-rendering: optimizeLegibility;
  font-weight: 700;
  position: relative;
  margin-bottom: 0.5em;
}

header h1 {
  line-height: 2.0em;
  margin: 0;
}

#apicontent {
  padding-top: 1.0em;
}

#toc + h1 {
  margin-top: 1em;
  padding-top: 0;
}

h2 {
  font-size: 1.5em;
  margin: 1.0em 0 0.5em;
}

h2 + h2 {
  margin: 0 0 0.5em;
}

h3 {
  font-size: 1.0em;
  margin: 1.5em 0 0.5em;
}

h3 + h3 {
  margin: 0 0 0.5em;
}

h2, h3, h4 {
  position: relative;
  padding-right: 40px;
}

h1 span, h2 span, h3 span, h4 span {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}

h1 span:hover, h2 span:hover, h3 span:hover, h4 span:hover {
  opacity: 1;
}

h1 span a, h2 span a, h3 span a, h4 span a {
  font-size: 0.8em;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

h5 {
  font-size: 1.125em;
  line-height: 1.4em;
}

h6 {
  font-size: 1em;
  line-height: 1.4667em;
}

pre, tt, code {
  line-height: 1.5em;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  margin: 0; padding: 0;
}

.pre {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  line-height: 1.5em;
  font-size: 1.2em;
}

pre {
  padding: 1.0em 1.5em;
  vertical-align: top;
  background: #f2f5f0;
  margin: 0.166666em -4.0em 1.0em 0em;
  overflow-x: auto;
}

pre > code {
  font-size: 0.8em;
}

pre + h3 {
  margin-top: 2.225em;
}

code.pre {
  white-space: pre;
}

#intro {
  margin-top: 1.25em;
  margin-left: 1.0em;
}

#intro a {
  color: #333;
  font-size: 1.25em;
  font-weight: bold;
}

hr {
  background: none;
  border: medium none;
  border-bottom: 1px solid #7a7a7a;
  margin: 0em 0em 1em 0;
}

#toc {
}

#toc h2 {
  color: #C73E09;
  margin-top: 0;
  font-size: 1.0em;
  line-height: 0;
  margin: 1.5em 0;
}

#toc ul {
  font-size: 0.8125em;
}

#toc ul ul { font-size: 1.0em; }

#toc ul a {
  text-decoration:none;
}

#toc ul li {
  margin-bottom: 0.6666em;
  list-style: square outside;
}

#toc li > ul {
  margin-top: 0.6666em;
}

#toc ul a:hover,
#toc ul a:focus {
}

#apicontent li {
  margin-bottom: 0.5em;
}

#apicontent li:last-child {
  margin-bottom: 0;
}

p tt,
p code,
li code {
  font-size: 0.9em;
  color: #040404;
}

span.type {
  color: #222;
}

#content {
  margin: 0 auto;
  overflow: visible;
  clear: both;
  display: block;
}

#column1.interior {
  width: 702px;
  border-left: 13em solid #f2f5f0;
  padding-left: 2.0em;
}

#column2.interior {
  width: 234px;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
}

#column2.interior:after {
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  width: 234px;
  height: 5em;
  background: linear-gradient(rgba(242,245,240, 0), rgba(242,245,240, 1));
  pointer-events: none;
}

#column2 ul {
  list-style: none;
  margin-left: 0em;
  margin-top: 1.25em;
  background: #f2f5f0;
  margin-bottom: 0;
  padding-bottom: 4em;
}

#column2 ul li {
  padding-left: 1.4em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.8em;
}

#column2 ul li:last-child {
  margin-bottom: 0;
}

#column2 ul li a {
  color: #7a7a7a;
}

#column2 ul li a.active {
  color: #533;
  border-bottom: 1px solid #533;
}

#footer {
  padding: 0;
  min-height: 24px;
  background: #333;
  color: white;
}

span > .mark,
span > .mark:visited {
  font-size: 18px;
  color: #707070;
  position: absolute;
  top: 0px;
  right: 0px;
}

span > .mark:hover {
  color: #FE7110;
}

th, td {
  padding: 0.75em 1.0em 0.75em 1.0em;
  vertical-align: top;
}

th > *:last-child,
td > *:last-child {
  margin-bottom: 0;
}

/****************/

.search-wrapper {
  margin: 15px 0;
  width: 100%;
  position: relative;
}

.search-wrapper__input {
  padding: 10px 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 18px;

  transition: border-color .09s ease-out;
}

.search-wrapper__input:focus {
  outline: none;
  border-color: #fe5211;
}

.search-wrapper__icon {
  background: url(/assets/search_icon.png) transparent no-repeat;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 50%;
  margin-top: -9.5px;
  right: 12px;
}

.search-wrapper--not-empty .search-wrapper__icon {
  background: url(/assets/cross_icon.png) transparent no-repeat;
  cursor: pointer;
  z-index: 100;
}

.algolia-autocomplete {
  width: 100%;
}

.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}

.algolia-autocomplete .aa-hint {
  color: #999;
}

.algolia-autocomplete .aa-dropdown-menu {
  position: absolute;
  top: 43px;
  border: 1px solid #CCCCCC;
  width: 100%;
  z-index: 200;
  box-sizing: border-box;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: none;
  background-color: #fff;
  font-weight: bold;
  transition: all 0.1s;
  opacity: 0;
  transform: translateY(-10px);
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  display: block;
  padding: 15px 20px;
  font-size: 17px;
  cursor: pointer;
  color: inherit;
  border-top: solid 1px #F2F5F0;
}

.search-wrapper--not-empty .algolia-autocomplete .aa-dropdown-menu {
  opacity: 1;  
  transform: translateY(0px);
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #F2F5F0;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
  font-weight: bold;
  color: #FF6800;
}

.algolia-autocomplete .aa-suggestion .type__title:after {
  text-align: center;
  font-size: 12px;
  display: inline-block;
} 

.algolia-autocomplete .aa-suggestion .type__breadcrumb {
  color: #777;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.algolia-autocomplete .aa-suggestion .type__breadcrumb span {
  margin-right: 5px;
  margin-bottom: 2px;
}

.algolia-autocomplete .aa-suggestion .last {
  display: block;
}

.algolia-autocomplete .aa-suggestion .type__title:after {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  width: 52px;
  color: #fff;
  border-radius: 3px;
  line-height: 0;
  padding: 10px 5px;
}

.algolia-autocomplete .aa-suggestion .type__title {
  position: relative;
  padding-right: 90px;
}

.algolia-autocomplete .aa-suggestion .last {
  color: #000;
}

.algolia-autocomplete .aa-suggestion .type__title .type:after {
  display: none;  
}

.algolia-autocomplete .aa-suggestion .type__description {
  font-size: 13px;
  font-weight: normal;
  padding: 5px 10px;
  border-left: 2px solid #777;
  margin-top: 6px;
  margin-left: 10px;
  padding-right: 85px;
  overflow: hidden;
  color: #7A7A7A;
}

.type__breadcrumb .type--left:hover {
  text-decoration: underline;
}

.type__breadcrumb .type--misc:hover {
  color: #edb92e;
}

.type__breadcrumb .type--global:hover {
  color: #edb92e;
}

.type__breadcrumb .type--module:hover {
  color: #f85931;
}

.type__breadcrumb .type--method:hover {
  color: #a3a948;
}

.type__breadcrumb .type--class:hover {
  color: #845bad;
}

.algolia-autocomplete .aa-suggestion .stability--deprecated {
  text-decoration: line-through;
  color: #ccc;
}

.algolia-autocomplete .aa-suggestion .type__title.type--misc:after {
  content: 'Misc';
  background-color: #edb92e;
}

.algolia-autocomplete .aa-suggestion .type__title.type--global:after {
  content: 'Global';
  background-color: #edb92e;
}

.algolia-autocomplete .aa-suggestion .type__title.type--module:after {
  content: 'Module';
  background-color: #f85931;
}

.algolia-autocomplete .aa-suggestion .type__title.type--class:after {
  content: 'Class';
  background-color: #845bad;
}

.algolia-autocomplete .aa-suggestion .type__title.type--properties:after {
  content: 'Property';
  background-color: #6DC0D5;
}
.algolia-autocomplete .aa-suggestion .type__title.type--event:after {
  content: 'Event';
  background-color: #a3a948;
}
.algolia-autocomplete .aa-suggestion .type__title.type--var:after {
  content: 'Variable';
  background-color: #73B8A5;
}
.algolia-autocomplete .aa-suggestion .type__title.type--Number:after {
  content: 'Number';
  background-color: #50514F;
}
.algolia-autocomplete .aa-suggestion .type__title.type--Array:after {
  content: 'Array';
  background-color: #F4796B;
}
.algolia-autocomplete .aa-suggestion .type__title.type--Boolean:after {
  content: 'Boolean';
  background-color: #AEADF0;
}
.algolia-autocomplete .aa-suggestion .type__title.type--String:after {
  content: 'String';
  background-color: #F2B880;
}
.algolia-autocomplete .aa-suggestion .type__title.type--method:after {
  content: 'Method';
  background-color: #a3a948;
}
.algolia-autocomplete .aa-suggestion .type__title.type--classMethod:after {
  content: 'Method';
  background-color: #F5BB00;
}

.algolia-autocomplete .no-results {
  font-weight: normal;
  padding: 10px 20px;
  font-size: 16px;
}

.algolia-autocomplete .footer {
  background: url(/assets/algolia-logo.jpg) transparent no-repeat;
  background-position: right 12px center;
  background-size: 54px;
  background-color: #FFF;
  height: 30px;
  border: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  position: relative;
}

.algolia-autocomplete .footer:before {
  content: 'Powered By';
  position: absolute;
  right: 70px;
  font-size: 13px;
  top: 50%;
  font-weight: normal;
  margin-top: -8px;
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .algolia-autocomplete .footer {
    background-image: url(/assets/algolia-logo-2x.jpg);
  }
}

@media only screen and (max-width: 1024px) {
  #content {
    font-size: 2.1em;
  }
  #column1.interior {
    border-left: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: auto;
  }
  pre {
    margin-right: 0;
  }
  #column2 {
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  #content {
    font-size: 2.4em;
  }
  #column1.interior {
    border-left: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: auto;
  }
  pre {
    margin-right: 0;
  }
  #column2 {
    display: none;
  }
}